[Unit]
Description=Listen for MQTT messages from SnifferBuddies and store in SQLite
After=mosquitto.service

[Service]
Type=idle
ExecStart=/home/pi/.local/bin/snifferbuddy
Restart=always
[Install]
WantedBy=multi-user.target
